$primery-color: #444;
$secondary-color: #e79e1f;
$text-success:#4ae029;
$white: #fff;
$home-image: url("/dist/images/home.jpg");
$profile-image:url("/dist/images/profile-pic.jpg");
$show-home-image: true;
$background-opacity: 0.5;

@mixin ease-out {
  transition: all 0.5s ease-out;
}
@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      &:after{
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          background: rgba($color: #000000, $alpha: $background-opacity);
         
      }
    }
  }
}