@import "config";
@import "menu";
@import "mobile";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primery-color;
  color: $white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
  }
}

a {
  color: $white;
  text-decoration: none;
}
img {
  width: 100%;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
}

main {
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include ease-out();
      }
    }
  }
  .btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
      background: $secondary-color;
      color: #fff;
    }
  }
  .btn-light {
    @extend .btn;
    background: gray;
    color: black;
  }
  .btn-dark {
    @extend .btn;
    background: black;
    color: $white;
  }
  &#home {
    overflow: hidden;
    margin-right: 35px;
    text-align: right;
    h1 {
      margin-top: 20vh;
    }
    h2 {
      color: $text-success;
    }
  }
  &#about {
    padding: 0;
    overflow: hidden;

    .grid-container {
      display: grid;
      align-items: center;
      padding: 30px;
      gap: 30px;
      grid-template-areas: "portrait bio bio";
      p {
        text-align: justify;
      }

      .portrait {
        grid-area: portrait;
        justify-self: center;
        width: 350px;
        height: 350px;
      }
      .bio {
        grid-area: bio;
      }
      .skills {
        grid-area: skills;
      }
      .portrait {
        .img {
          background: $profile-image;
          border-radius: 50%;
          border: solid 3px $secondary-color;
          background-size: cover;
          background-position: center;
          width: 350px;
          height: 350px;
        }
      }
    }
    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 30px;
      column-gap: 30px;
      padding: 30px;
      margin-bottom: 80px;

      .skills-header {
        display: flex;

        .big-tick-box {
          border: solid 2px #fff;
          border-radius: 10px;
          height: 45px;
          width: 45px;
          display: inline-block;
          position: relative;
          top: 7px;

          .fa {
            font-size: 3.3rem;
            position: relative;
            top: -15px;
            left: 3px;
            color: #b6c71a;
          }
        }
        h3 {
          font-weight: 600;
          font-size: 1.5em;
          margin-left: 20px;
          display: inline;
        }
      }
    }
  }
  &#work {
    padding: 0;
    overflow: hidden;

    .projects {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      img {
        width: 100%;
        border: 3px solid white;

        &:hover {
          opacity: 0.5;
          border-color: $secondary-color;
          @include ease-out;
        }
      }
    }
  }
  #footer {
    text-align: center;
    height: 60px;
    font-size: 22px;
    background: black;
    position: fixed;
    width: 100%;
    bottom: 0;
    opacity: 0.8;
    padding: 1rem;
  }
  &#contact {
    padding: 0;
    overflow: hidden;
    .contacts {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;

      .icons {
        width: 50%;
        margin-top: 0;
        text-align: right;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 11%;

        div {
          display: flex;
          justify-content: space-between;
          &:first-child {
            justify-content: end;
          }
        }
      }
      .btn {
        border-radius: 5px;
        background-color: #b6c71a;
        cursor: pointer;
        float: right;
        margin-top: 20px;
        padding: 0.5rem 2rem;
      }
    }
    .modal {
      visibility: hidden;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal-content {
      background-color: #fefefe;
      margin: 25% auto;
      padding: 20px;
      border: 1px solid #888;
      color: black;
      position: relative;
      text-align: center;
      border-radius: 5px;
      width: 360px;

      .modal_img {
        width: 30%;
        margin: 40px auto;
      }
    }

    .close {
      font-size: 28px;
      font-weight: bold;
      position: absolute;
      right: 20px;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
  form {
    width: 50%;

    label {
      display: block;
      padding: 10px 0;
      &.error {
        padding: 0;
      }
    }

    input,
    textarea {
      display: block;
      width: 100%;
      border: 0;
      padding: 10px 5px;
      background: white no-repeat;
      background-image: linear-gradient(
          to bottom,
          $secondary-color,
          $secondary-color
        ),
        linear-gradient(to bottom, silver, silver);
      background-size: 0 2px, 100% 1px;
      background-position: 50% 100%, 50% 100%;
      transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
      border-radius: 5px;

      &.error {
        border: 2px solid rgb(201, 60, 60);
      }
    }
    input:focus,
    textarea:focus {
      background-size: 100% 2px, 100% 1px;
      outline: none;
    }
  }

  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .green {
    color: #b6c71a;
  }
  .error {
    color: red;
    display: block;
  }
}
